<% rank_tmp=1 %>
</br>
<div class="container">
       <ul >
              <% @items.each_with_index do |item, i| %>
              <div class="rank-single-main">
                     <div = "rankscore">
                            <div class = "ranking">
                            <% if @values[i] == @values[i-1]%>
                                   <%= rank_tmp %>位
                            <% else %>
                                   <%= i+1 %>位
                                   <% rank_tmp = i+1 %>
                            <% end %>
                            </div>
                     <p><%= @values[i] %>人がhaveしています</p>
                     </div>
                     <div class="image">
                            <div class="img-wrap">
                                   <% if item.medium_image.present? %>
                                          <%= link_to image_tag(item.medium_image , alt: item.title) , item %>
                                   <% else %>
                                          <%= link_to image_tag("no-image.png" , alt: item.title) , item %>
                                   <% end %>
                            </div>
                     </div>
                     <div class="rankcomment">
                     <%= link_to item.title , item %>
                     </br>
                     </div>
              </div>
              <div role="separator" class="divider"></br></div>
              <% end %>
       </ul>
</div>